<main>
  <div id="main-background"></div>

  <div id="main-content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="start expanded">
      <div class="startMore">
        <div class="startMore-title">
          <div class="startMore-item">
            <div class="startMore-item_icon">
              <i class="bi bi-list"></i>
            </div>

            <div class="startMore-item_text">
              <b>START</b>
            </div>
          </div>
        </div>

        <div class="startMore-content">
          <div class="startMore-item">
            <div class="startMore-item_icon">
              <i class="bi bi-person-fill"></i>
            </div>

            <div class="startMore-item_text">
              Eduardo Talarico
            </div>
          </div>

          <div class="startMore-item">
            <div class="startMore-item_icon">
              <i class="bi bi-translate"></i>
            </div>

            <div class="startMore-item_text">
              Language
            </div>
          </div>

          <div class="startMore-item">
            <div class="startMore-item_icon">
              <i class="bi bi-palette-fill"></i>
            </div>

            <div class="startMore-item_text">
              Gradient
            </div>
          </div>

          <div class="startMore-item">
            <div class="startMore-item_icon">
              <i class="bi bi-power"></i>
            </div>

            <div class="startMore-item_text">
              Power
            </div>
          </div>
        </div>
      </div>

      <div class="startAbout">
        <div class="startAbout-list" [style.--startAboutIconColor]="'#ffbb00'">
          <div class="startAbout-list_title">
            Goals
          </div>

          <div class="startAbout-list_content">
            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Grow professionally
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Solve problems
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Contribute to society
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Acquire knowledge
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Team work
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Develop and create
              </div>
            </div>
          </div>
        </div>

        <div class="startAbout-list" [style.--startAboutIconColor]="'#e81224'">
          <div class="startAbout-list_title">
            Passions
          </div>

          <div class="startAbout-list_content">
            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Learn
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Code
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Help
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Create
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Play
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Listen to music
              </div>
            </div>
          </div>
        </div>

        <div class="startAbout-list" [style.--startAboutIconColor]="'#fcff00'">
          <div class="startAbout-list_title">
            Qualities
          </div>

          <div class="startAbout-list_content">
            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Determined
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Practical
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Calm
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Proactive
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Honest
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Prudent
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Comprehensive
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Detail-oriented
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Persistent
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Empathic
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Creative
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Logical
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="startKnowledge"></div>
    </div>

    <div class="taskbar">
      <div class="taskbarStart" title="Start" (click)="toggleStart()">
        <i class="bi bi-grid-1x2-fill"></i>
      </div>

      <div class="taskbarMiddle">
        <a class="taskbarMiddle-icon" title="LinkedIn" href="https://www.linkedin.com/in/eduardo-talarico/" target="_blank">
          <i class="bi bi-linkedin" [style.--networkColor]="'#0a66c2'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="Discord" href="https://discordapp.com/users/564590102949658634" target="_blank">
          <i class="bi bi-discord" [style.--networkColor]="'#5865f2'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="GitHub" href="https://github.com/dudushy" target="_blank">
          <i class="bi bi-github" [style.--networkColor]="'#fafafa'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="Steam" href="https://steamcommunity.com/id/dudushy/" target="_blank">
          <i class="bi bi-steam" [style.--networkColor]="'#00adee'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="Spotify" href="https://open.spotify.com/user/u8cq59bsrp4cdmp2haxrxu9pi" target="_blank">
          <i class="bi bi-spotify" [style.--networkColor]="'#1db954'"></i>
        </a>
      </div>

      <div class="taskbarEnd">
        <a class="taskbarEnd-src" title="View source code" href="https://github.com/dudushy/dudushy.github.io" target="_blank">
          S<br>R<br>C
        </a>

        <div class="taskbarEnd-clock" title="{{dateTitle}}">
          <div class="taskbarEnd-clock_time">{{time}}</div>
          <div class="taskbarEnd-clock_date">{{date}}</div>
        </div>
      </div>
    </div>
  </footer>
</main>
