<main>
  <div id="main-background"></div>

  <div id="main-content">
    <div id="desktop">
      <div class="desktop-folder" (dblclick)="openWindow('formation')" (click)="selectWindow('formation')" [class.selected]="selectedWindow == 'formation'">
        <div class="desktop-folder_mainIcon">
          <i class="bi bi-folder-fill"></i>
        </div>

        <div class="desktop-folder_text">
          Formation
        </div>

        <div class="desktop-folder_subIcon" [style.--folderSubIconColor]="'#000'">
          <i class="bi bi-mortarboard-fill"></i>
        </div>
      </div>

      <div class="desktop-folder" (dblclick)="openWindow('experience')" (click)="selectWindow('experience')" [class.selected]="selectedWindow == 'experience'">
        <div class="desktop-folder_mainIcon">
          <i class="bi bi-folder-fill"></i>
        </div>

        <div class="desktop-folder_text">
          Experience
        </div>

        <div class="desktop-folder_subIcon" [style.--folderSubIconColor]="'#500091'">
          <i class="bi bi-award-fill"></i>
        </div>
      </div>

      <div class="desktop-file" (dblclick)="openWindow('more-information')" (click)="selectWindow('more-information')" [class.selected]="selectedWindow == 'more-information'">
        <div class="desktop-file_mainIcon" [style.--fileMainIconColor]="'#b8e6c3'">
          <i class="bi bi-file-earmark-plus-fill"></i>
        </div>

        <div class="desktop-file_text">
          More Information
        </div>
      </div>

      <div class="desktop-folder" (dblclick)="openWindow('projects')" (click)="selectWindow('projects')" [class.selected]="selectedWindow == 'projects'">
        <div class="desktop-folder_mainIcon">
          <i class="bi bi-folder-fill"></i>
        </div>

        <div class="desktop-folder_text">
          Projects
        </div>

        <div class="desktop-folder_subIcon" [style.--folderSubIconColor]="'#005961'">
          <i class="bi bi-grid-3x3-gap-fill"></i>
        </div>
      </div>

      <div class="desktop-file" (dblclick)="openWindow('test')" (click)="selectWindow('test')" [class.selected]="selectedWindow == 'test'">
        <div class="desktop-file_mainIcon" [style.--fileMainIconColor]="'#2bff00'">
          <i class="bi bi-code-slash"></i>
        </div>

        <div class="desktop-file_text">
          Test
        </div>
      </div>
    </div>

    <div id="window" [attr.minimizeWindow]="openedWindow == null">
      <div class="window-toolbar">
        <div class="window-toolbar_title">
          {{openedWindowTitle}}
        </div>

        <div class="window-toolbar_close" (click)="openWindow(null)">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>

      <div class="window-content">
        <app-me [class.hideWindow]="openedWindow != 'me'"></app-me>
        <app-language [class.hideWindow]="openedWindow != 'language'"></app-language>
        <app-theme [class.hideWindow]="openedWindow != 'theme'"></app-theme>
        <app-formation [class.hideWindow]="openedWindow != 'formation'"></app-formation>
        <app-experience [class.hideWindow]="openedWindow != 'experience'"></app-experience>
        <app-more-information [class.hideWindow]="openedWindow != 'more-information'"></app-more-information>
        <app-projects [class.hideWindow]="openedWindow != 'projects'"></app-projects>
        <app-test [class.hideWindow]="openedWindow != 'test'"></app-test>
      </div>
    </div>
  </div>

  <footer>
    <div class="start">
      <div class="startMore">
        <div class="startMore-title">
          <div class="startMore-item">
            <div class="startMore-item_icon">
              <i class="bi bi-list"></i>
            </div>

            <div class="startMore-item_text">
              <b>START</b>
            </div>
          </div>
        </div>

        <div class="startMore-content">
          <div class="startMore-item" (click)="openWindow('me'); closeStart(null, true)">
            <div class="startMore-item_icon">
              <i class="bi bi-person-fill"></i>
            </div>

            <div class="startMore-item_text">
              Eduardo Talarico
            </div>
          </div>

          <div class="startMore-item" (click)="openWindow('language'); closeStart(null, true)">
            <div class="startMore-item_icon">
              <i class="bi bi-translate"></i>
            </div>

            <div class="startMore-item_text">
              Language
            </div>
          </div>

          <div class="startMore-item" (click)="openWindow('theme'); closeStart(null, true)">
            <div class="startMore-item_icon">
              <i class="bi bi-palette-fill"></i>
            </div>

            <div class="startMore-item_text">
              Gradient
            </div>
          </div>

          <div class="startMore-item" (click)="closeStart(null, true)">
            <div class="startMore-item_icon">
              <i class="bi bi-power"></i>
            </div>

            <div class="startMore-item_text">
              Power
            </div>
          </div>
        </div>
      </div>

      <div class="startAbout">
        <div class="startAbout-list" [style.--startAboutIconColor]="'#ffbb00'">
          <div class="startAbout-list_title">
            Goals
          </div>

          <div class="startAbout-list_content">
            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Grow professionally
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Solve problems
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Contribute to society
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Acquire knowledge
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Team work
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-trophy-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Develop and create
              </div>
            </div>
          </div>
        </div>

        <div class="startAbout-list" [style.--startAboutIconColor]="'#e81224'">
          <div class="startAbout-list_title">
            Passions
          </div>

          <div class="startAbout-list_content">
            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Learn
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Code
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Help
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Create
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Play
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-arrow-through-heart-fill"></i>
              </div>

              <div class="startAbout-list_item_text">
                Listen to music
              </div>
            </div>
          </div>
        </div>

        <div class="startAbout-list" [style.--startAboutIconColor]="'#fcff00'">
          <div class="startAbout-list_title">
            Qualities
          </div>

          <div class="startAbout-list_content">
            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Determined
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Practical
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Calm
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Proactive
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Honest
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Prudent
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Comprehensive
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Detail-oriented
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Persistent
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Empathic
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Creative
              </div>
            </div>

            <div class="startAbout-list_item">
              <div class="startAbout-list_item_icon">
                <i class="bi bi-stars"></i>
              </div>

              <div class="startAbout-list_item_text">
                Logical
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="startKnowledge">
        <div class="startKnowledge-grid">
          <div class="startKnowledge-grid_title">
            Programming Languages
          </div>

          <div class="startKnowledge-grid_content">
            <div class="startKnowledge-grid_item" title="Python">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/python.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Python
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Java">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/java.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Java
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="JavaScript">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/javascript.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                JavaScript
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="SQL">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/sql.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                SQL
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="HTML">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/html.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                HTML
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="CSS">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/css.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                CSS
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="C#">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/csharp.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                C#
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="PHP">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/php.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                PHP
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="TypeScript">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/typescript.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                TypeScript
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="SASS">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/sass.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                SASS
              </div>
            </div>
          </div>
        </div>

        <div class="startKnowledge-grid">
          <div class="startKnowledge-grid_title">
            Tools
          </div>

          <div class="startKnowledge-grid_content">
            <div class="startKnowledge-grid_item" title="Visual Studio Code">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/vscode.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Visual Studio Code
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="pgAdmin">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/pgadmin.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                pgAdmin
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="NetBeans">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/netbeans.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                NetBeans
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Sublime Text">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/sublimetext.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Sublime Text
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Notepad++">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/notepadplusplus.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Notepad++
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Visual Studio">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/vs.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Visual Studio
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Postman">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/postman.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Postman
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="SSMS">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/ssms.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                SSMS
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="GitHub Desktop">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/github-desktop.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                GitHub Desktop
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="XAMPP">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/xampp.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                XAMPP
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="BlueStacks">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/bluestacks.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                BlueStacks
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Insomnia">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/insomnia.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Insomnia
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Anroid Studio">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/androidstudio.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Anroid Studio
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="FileZilla">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/filezilla.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                FileZilla
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Ionic">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/ionic.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Ionic
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="NodeJS">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/nodejs.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                NodeJS
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="AWS">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/aws.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                AWS
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Angular">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/angular.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Angular
              </div>
            </div>

            <div class="startKnowledge-grid_item" title="Firebase">
              <div class="startKnowledge-grid_item_icon">
                <img src="assets/imgs/PNGs/firebase.png">
              </div>

              <div class="startKnowledge-grid_item_text">
                Firebase
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="taskbar">
      <div class="taskbarStart" title="Start" (click)="toggleStart()">
        <i class="bi bi-grid-1x2-fill"></i>
      </div>

      <div class="taskbarMiddle">
        <a class="taskbarMiddle-icon" title="LinkedIn" href="https://www.linkedin.com/in/eduardo-talarico/" target="_blank">
          <i class="bi bi-linkedin" [style.--networkColor]="'#0a66c2'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="Discord" href="https://discordapp.com/users/564590102949658634" target="_blank">
          <i class="bi bi-discord" [style.--networkColor]="'#5865f2'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="GitHub" href="https://github.com/dudushy" target="_blank">
          <i class="bi bi-github" [style.--networkColor]="'#fafafa'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="Steam" href="https://steamcommunity.com/id/dudushy/" target="_blank">
          <i class="bi bi-steam" [style.--networkColor]="'#00adee'"></i>
        </a>

        <a class="taskbarMiddle-icon" title="Spotify" href="https://open.spotify.com/user/u8cq59bsrp4cdmp2haxrxu9pi" target="_blank">
          <i class="bi bi-spotify" [style.--networkColor]="'#1db954'"></i>
        </a>
      </div>

      <div class="taskbarEnd">
        <a class="taskbarEnd-src" title="View source code" href="https://github.com/dudushy/dudushy.github.io" target="_blank">
          S<br>R<br>C
        </a>

        <div class="taskbarEnd-clock" title="{{dateTitle}}">
          <div class="taskbarEnd-clock_time">{{time}}</div>
          <div class="taskbarEnd-clock_date">{{date}}</div>
        </div>
      </div>
    </div>
  </footer>
</main>
