@import "/src/styles.scss";

#app_content {
  overflow: hidden;

  #rainbow-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #taskbar {
    position: absolute;
    // overflow: hidden;
    top: 93.84%;
    left: 0%;
    width: 100%;
    // height: 3%;
    display: inline-block;
    font-size: 3rem;
    background: red;

    #taskbar_left {
      float: left;
      width: 50%;
      height: 100%;
      background: blue;
      display: flex;

      .taskbar_button_icon {
        padding: 0.5%;
        margin: 0%;
        width: 13%;
        height: 20%;
      }

      .taskbar_icon {
        width: 4vw;
      }

      #taskbar_page {
        // text-align: center;
        margin-left: 5%;
        margin-top: 1.5%;
      }
    }

    #taskbar_right {
      width: 50%;
      height: 100%;
      background: green;
      display: flex;
      justify-content: right;

      .taskbar_button_text {
        padding-block: 2.7%;
      }

      .taskbar_info {
        font-size: 2rem;
      }
    }
  }

  #taskbar-toggle {
    background-color: $dark;
    color: $light;

    &:hover {
      background-color: $light;
      color: $dark;
    }

    &[active="false"] {
      display: none;
    }

    &[active="true"] {
      display: block;
    }

    li {
      padding-inline: 0.5em;
      padding-bottom: 0.2em;
      // width: 100%;
    }

    .taskbar_button_page {
      // border-radius: 10px;
      font-size: large;
      font-weight: bolder;
      // padding: 0.8em;
      // padding-block: 0.5em;
      transition: 0.2s;

      &[active="true"] {
        background-color: $danger;
        color: $light;
        transition: 0.2s;
      }

      &[active="true"]:hover {
        background-color: $dark;
        cursor: pointer;
        transition: 0.2s;
      }

      &[active="true"]:active {
        background-color: $medium;
        color: darken($medium, 30%);
        transition: 0.1s;
      }

      &[active="false"] {
        background-color: $light;
        color: $danger;
        transition: 0.2s;
      }

      &[active="false"]:hover {
        color: $dark;
        cursor: pointer;
        transition: 0.2s;
      }

      &[active="false"]:active {
        background-color: $medium;
        color: darken($medium, 30%);
        transition: 0.1s;
      }
    }
  }
}
