@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: var(--windowContentHeight);
  padding: 1%;
  width: 100%;
  font-size: calc(var(--responsiveUnit) * 0.8);
}

i {
  font-size: calc(var(--responsiveUnit) * 2);
  color: #2bff00;
}

.title {
  background: $light;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: calc(var(--responsiveUnit) * 0.2);
  border-radius: calc(var(--responsiveUnit) * 0.5);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  position: relative;

  h3 {
    font-size: calc(var(--responsiveUnit) * 1.5);
    color: $dark;
    margin-right: calc(var(--responsiveUnit) * 0.5);
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark;
    outline: none;
    border: none;
    border-radius: calc(var(--responsiveUnit) * 0.5);
    padding: calc(var(--responsiveUnit) * 0.5);
    cursor: pointer;
    @include allVendors(transition, all 0.3s ease-in-out);
    @include square(calc(var(--responsiveUnit) * 1.5));

    &:hover {
      background: lighten($dark, 15%);
    }

    &:active {
      transform: scale(0.95);
    }

    i {
      color: $light;
      font-size: calc(var(--responsiveUnit) * 1);
    }

    &.action-logout {
      position: absolute;
      right: calc(var(--responsiveUnit) * 5);
      background: $danger;

      &:hover {
        background: darken($danger, 15%);
      }
    }
  }
}

.inputs {
  background: $warning;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: calc(var(--responsiveUnit) * 0.5);

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(var(--responsiveUnit) * 11);
    height: calc(var(--responsiveUnit) * 3.5);

    label {
      font-size: calc(var(--responsiveUnit) * 1);
      // width: calc(var(--responsiveUnit) * 4.5);
      // height: calc(var(--responsiveUnit) * 2);
    }

    input {
      background: $black;
      color: $light;
      width: 100%;
      padding: calc(var(--responsiveUnit) * 0.5);
      margin-bottom: calc(var(--responsiveUnit) * 0.5);
      border: none;
      border-radius: calc(var(--responsiveUnit) * 0.5);
      outline: none;
      // width: calc(var(--responsiveUnit) * 4.5);
      // height: calc(var(--responsiveUnit) * 2);
      font-size: calc(var(--responsiveUnit) * 0.7);
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $success;
      outline: none;
      border: none;
      border-radius: calc(var(--responsiveUnit) * 0.5);
      padding: calc(var(--responsiveUnit) * 0.5);
      cursor: pointer;
      @include allVendors(transition, all 0.3s ease-in-out);
      width: calc(var(--responsiveUnit) * 4.5);
      height: calc(var(--responsiveUnit) * 2);

      &:hover {
        background: darken($success, 15%);
      }

      &:active {
        transform: scale(0.95);
      }

      span {
        font-size: calc(var(--responsiveUnit) * 0.8);
        font-weight: bolder;
        color: $light;
        padding-right: calc(var(--responsiveUnit) * 0.5);
      }

      i {
        color: $light;
        font-size: calc(var(--responsiveUnit) * 1);
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-inline: calc(var(--responsiveUnit) * 0.2);
  margin-bottom: calc(var(--responsiveUnit) * 0.8);
  border-radius: calc(var(--responsiveUnit) * 0.5);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;

  .list-header,
  .list-item {
    span {
      border-right: calc(var(--responsiveUnit) * 0.05) solid $dark;
      border-left: calc(var(--responsiveUnit) * 0.05) solid $dark;
      width: 100%;
      height: 100%;
      padding: calc(var(--responsiveUnit) * 0.5);
      padding-inline: calc(var(--responsiveUnit) * 1);
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &:nth-child(1) {
        width: 5%;
        text-align: center;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 30%;
      }

      &:nth-child(6) {
        width: 10%;
      }
    }
  }

  .list-header {
    background: $success;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(var(--responsiveUnit) * 2.5);

    span {
      text-align: center;
      font-size: calc(var(--responsiveUnit) * 1);
      font-weight: bolder;
    }
  }

  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(var(--responsiveUnit) * 2);

    &:nth-child(odd) {
      background: lighten($primary, 5%);
    }

    &:nth-child(even) {
      background: lighten($primary, 10%);
    }

    &.selected {
      background: $light;
    }

    span {
      font-size: calc(var(--responsiveUnit) * 0.8);
    }

    .actions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $dark;
        outline: none;
        border: none;
        border-radius: calc(var(--responsiveUnit) * 0.5);
        padding: calc(var(--responsiveUnit) * 0.5);
        cursor: pointer;
        @include allVendors(transition, all 0.3s ease-in-out);
        @include square(calc(var(--responsiveUnit) * 1.5));

        &:hover {
          background: lighten($dark, 15%);
        }

        &:active {
          transform: scale(0.95);
        }

        i {
          color: $light;
          font-size: calc(var(--responsiveUnit) * 1);
        }

        &.action-edit {
          background: $tertiary;

          &:hover {
            background: darken($tertiary, 15%);
          }
        }

        &.action-delete {
          background: $danger;

          &:hover {
            background: darken($danger, 15%);
          }
        }
      }
    }
  }
}

.ng-if {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &.false {
    // align-items: flex-start;

    i {
      font-size: calc(var(--responsiveUnit) * 2);
      color: #2bff00;
    }

    .title {
      background: $danger;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-inline: calc(var(--responsiveUnit) * 0.2);
      border-radius: calc(var(--responsiveUnit) * 0.5);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;

      h3 {
        font-size: calc(var(--responsiveUnit) * 1.5);
        color: $light;
        margin-right: calc(var(--responsiveUnit) * 0.5);
      }
    }

    .inputs {
      background: $light;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      padding: calc(var(--responsiveUnit) * 0.5);
      border-radius: calc(var(--responsiveUnit) * 0.5);
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(var(--responsiveUnit) * 11);
        height: calc(var(--responsiveUnit) * 3.5);

        label {
          font-size: calc(var(--responsiveUnit) * 1);
          // width: calc(var(--responsiveUnit) * 4.5);
          // height: calc(var(--responsiveUnit) * 2);
        }

        input {
          background: $danger;
          color: $light;
          width: 100%;
          padding: calc(var(--responsiveUnit) * 0.5);
          margin-bottom: calc(var(--responsiveUnit) * 0.5);
          border: none;
          border-radius: calc(var(--responsiveUnit) * 0.5);
          outline: none;
          // width: calc(var(--responsiveUnit) * 4.5);
          // height: calc(var(--responsiveUnit) * 2);
          font-size: calc(var(--responsiveUnit) * 0.7);
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $danger;
          outline: none;
          border: none;
          border-radius: calc(var(--responsiveUnit) * 0.5);
          padding: calc(var(--responsiveUnit) * 0.5);
          cursor: pointer;
          @include allVendors(transition, all 0.3s ease-in-out);
          width: calc(var(--responsiveUnit) * 4.5);
          height: calc(var(--responsiveUnit) * 2);

          &:hover {
            background: darken($danger, 15%);
          }

          &:active {
            transform: scale(0.95);
          }

          span {
            font-size: calc(var(--responsiveUnit) * 0.8);
            font-weight: bolder;
            color: $light;
            padding-right: calc(var(--responsiveUnit) * 0.5);
          }

          i {
            color: $light;
            font-size: calc(var(--responsiveUnit) * 1);
          }
        }
      }
    }
  }
}
