:root {
    --green: #16c60c;
    --black: #000000;
    --white: #ffffff;
}

/*? body */
body {
    background-color: var(--black);
    color: var(--green);
    font-size: 18px;
    font-family: monospace;
}

/*? header */
header {
    display: flex;
    width: 100%;
    /* text-align: center; */
    border: 1px solid var(--green);
    padding: 0.1em;
}

#pp {
    display: flex;
    justify-content: center;
    width: 5em;
    height: 5em;
    padding: 1em;
    background-color: var(--green);
    /* float: left; */
    border-radius: 1em;
}

#menu {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid var(--green);
}

/*? footer */
footer {
    width: 100%;
    text-align: center;
    border: 1px solid var(--green);
    padding: 0.1em;
}

#logos {
    display: inline-block;
    /* background-color: var(--green); */
}

.logo {
    width: 3em;
    height: 3em;
    padding: .5em;
    background-color: var(--green);
    border-radius: 1em;

    /* border-radius: 30px !important;
    border: 1px solid var(--white);
    border-bottom: 0px !important;
    padding-left: 30px !important; */
}

/*? content */
.content {
    width: 100%;
    text-align: center;
    border: 1px solid var(--green);
    padding: 0.1em;
}
