/*? body */
body {
    background-color: #000000;
    color: #00ff11;
    font-size: 18px;
    font-family: monospace;
}

/*? header */
header {
    display: flex;
    width: 100%;
    /* text-align: center; */
    padding-left: 40%;
    border: 1px solid #00ff11;
}

#pp {
    width: 5em;
    height: 5em;
    padding: 1em;
    background-color: #00ff11;
    /* float: left; */
}

#menu {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #00ff11;
}

/*? footer */
footer {
    width: 100%;
    text-align: center;
    border: 1px solid #00ff11;
}

#logos {
    display: inline-block;
    /* background-color: #00ff11; */
}

.logo {
    width: 5em;
    height: 5em;
    padding: 1em;
    background-color: #00ff11;
}

/*? content */
.content {
    width: 100%;
    text-align: center;
    border: 1px solid #00ff11;
}
